@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #fffb00;
    --cor02: #afb132;
    --cor03: #6b6510;
    --cor04: #8B21DB;
    --cor05: #6C299E;
    --cor06: #44265C;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passero One", sans-serif;
    --fonte3: "Lobster", sans-serif;
    --fonte4: "Slackey", sans-serif;
    --fonte6: "Fugaz One", sans-serif;
}

body {
    font-family: var(--fonte1);
    background-color: var(--cor01);
    color: var(--cor06);
    line-height: 1.6;
    min-height: 100vh;
}

header {
    background-color: var(--cor05);
    background-image: url(../estilo/imagem/capa4.png);
    background-size: 2000px;
    background-position: center center;
    background-attachment: fixed;
    color: var(--cor01);
    padding: 80px 20px;
    text-align: center;
    text-shadow: 5px 1px 0px black;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 4.8vw;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 30px;
}

nav {
    background-color: var(--cor01);
    padding: 20px;
    text-align: left;
    font-family: var(--fonte2);
    font-size: 1.8em;
    border-radius: 0 0 10px 10px;
}

nav > a {
    margin: 0 15px;
    padding: 10px 15px;
    color: var(--cor06);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor06);
    color: var(--cor01);
    border-radius: 5px;
}

section > p {
    font-size: 1.8em;
    font-family: var(--fonte6);
    color: white;
    background-color: var(--cor06);
    padding: 40px 20px;
    text-align: center;
    box-shadow: inset 6px 6px 13px 5px rgba(0, 0, 0, 0.377);
}

article > h3 {
    font-weight: lighter;
    text-align: left;
    font-size: 3em;
    font-family: var(--fonte6);
    color: var(--cor01);
    background-color: var(--cor04);
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to top, var(--cor04), rgba(0, 0, 0, 0.226))
}

p.conteudo {
    text-align: left;
    font-size: 1.8em;
    font-family: var(--fonte6);
    color: white;
    background-color: var(--cor06);
    padding: 40px 20px;
    transition: background-color 0.3s;
}

article > p > strong {
    
    text-align: right;
    font-weight: lighter;
    font-size: 1.4em;
    font-family: var(--fonte6);
    padding: 0px 100px 0px 10px;
    color: white;
    background-color: var(--cor02);
    border-radius: 0px 15px 15px 0px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.466);
    box-sizing: 50vw;
}

article > p > strong.subtopicos {
    
    text-align: right;
    font-weight: lighter;
    font-size: 1em;
    font-family: var(--fonte6);
    padding: 0px 100px 0px 10px;
    color: white;
    background-color: var(--cor03);
    border-radius: 0px 15px 15px 0px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.466);
    box-sizing: 50vw;
}

article > p > strong.marcatexto {
    
    text-align: right;
    font-weight: lighter;
    font-size: 1em;
    font-family: var(--fonte6);
    padding: 0px 10px 0px 10px;
    color: white;
    background-color: #00000073;
    border-radius: 0px 15px 15px 0px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.466);
    box-sizing: 50vw;
}



section {
    padding: 40px 20px 400px 20px;
    background-image: url(../estilo/imagem/section4.png);
    background-size: 300px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

section > h2 {
    font-size: 4em;
    font-family: var(--fonte2);
    background-color: var(--cor01);
    color: var(--cor06);
    padding: 100px;
    text-align: center;
    text-shadow: 2px 1px black;
}

section article p.conteudo {
    color: white;
    font-family: var(--fonte6);
    font-size: 1.8em;
    line-height: 2em;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: left;
    margin: 10px 0;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    transition: background-color 0.3s;
}

section article p.conteudo:hover {
    background-color: var(--cor04);
}

section ul li a {
    color: var(--cor01);
    text-decoration: none;
}

section ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--cor06);
    padding: 10px;
    text-align: center;
}

footer > p {
    font-family: var(--fonte6);
    font-size: 1.5em;
    color: var(--cor01);
}

footer > p > a {
    color: var(--cor01);
    text-decoration: none;
}
